* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*BODY*/

body {
  background: linear-gradient(#f9e7fe, #dafcfc);
  font-family: "Lora", serif;
  margin: auto;
  padding: 20px 20px;
}

/*HEADER*/

header {
  text-align: center;
  border-bottom: 1px solid #6ed49a;
}

.logo {
  width: 120px;
  margin: auto;
  box-shadow: 3px 3px 4px #62c38c;
}

#navbarNav {
  justify-content: center;
}

nav ul li {
  list-style: none;
  display: inline-block;
  margin: 30px 30px;
  font-size: large;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: black;
  text-shadow: 2px 2px 2px #bce5cf;
}

h1,
h2 {
  font-size: 27px;
  text-align: center;
  text-decoration: underline;
  margin: 20px;
  padding: 20px;
}

/*HOME*/

.grid-container {
  display: grid;
  justify-content: center;
  grid-template-rows: auto auto auto;
  grid-template-columns: repeat(3, 200px);
  row-gap: 30px;
  column-gap: 30px;
}

.grid-container img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  box-shadow: 6px 6px 10px #afc8ad;
}

/*SOBRE MI*/

.present {
  text-align: center;
  margin: 20px;
  padding: 30px;
  font-size: 20px;
}

.frutas {
  width: 400px;
  height: 500px;
  object-fit: cover;
  margin: 30px;
}

.sobre-mi {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}

/*ACERCA DE*/

.imagen-acerca-de {
  width: 400px;
  height: 500px;
  margin: 30px;
  object-fit: cover;
}

.img-fluid {
  width: 400px;
  height: 500px;
  margin: 50px;
  object-fit: cover;
}

.row {
  display: flex;
  margin-right: -20px;
  margin-left: -20px;
  font-size: 20px;
}

/*SERVICIOS*/

.container-serv {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

.servicios {
  width: 300px;
  height: 350px;
  object-fit: cover;
  margin: 60px;
  box-shadow: 6px 6px 10px grey;
}

/*Footer*/

footer {
  background-color: #6ed49a;
  text-align: center;
  margin-top: 50px;
  padding: 5px;
}

h3 {
  font-size: x-large;
  text-decoration: underline;
  padding: 20px;
}

.formulario {
  background: #fff;
  width: 30%;
  height: 10%;
  margin: auto;
  padding: 5px 10px;
  border-radius: 10px;
  box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.8);
  font-size: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  width: 80%;
  height: auto;
  position: relative;
  padding: 3px;
  margin: 10px;
}

label {
  color: #6ed49a;
  display: flex;
  flex-direction: column;
  width: max-content;
}

.boton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}

.bton {
  text-align: center;
  color: #fff;
  background-color: #1aa37a;
  border: 1px solid #20d49e;
  border-radius: 4px;
  font-size: 15px;
  cursor: pointer;
  width: 80px;
  height: 30px;
  padding-top: 3px;
  transition: 0.5s;
}

.bton:hover {
  color: #fff;
  background-color: #24ce9b;
}

input,
textarea {
  background: none;
  color: #665555d3;
  font-size: 15px;
  padding: 10px 10px 10px 10px;
  margin: 10px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid #e6d4eb;
  resize: none;
}

input:focus,
textarea:focus {
  outline: none;
}

/*Mobile*/

@media only screen and (min-width: 200px) and (max-width: 500px) {
  body {
    background: linear-gradient(#cfebeb, #e4d4e9);
  }

  nav ul li {
    height: auto;
    margin: 15px 15px;
    font-size: medium;
    text-align: center;
  }

  .grid-container {
    grid-template-columns: 1fr 1fr;
  }

  .habitos {
    padding-top: 20px;
  }

  .grid-container img {
    box-shadow: 8px 8px 13px #a1c59e;
  }

  .sobre-mi {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .container-section {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .container-serv {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .servicios {
    margin: 7vh;
  }

  .formulario {
    width: 70vw;
    height: 70vh;
    flex-direction: column;
    align-items: center;
  }

  .form {
    width: max-content;
    height: auto;
  }

  .boton {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  input,
  textarea {
    width: 80%;
  }
}

/*Tablet*/

@media only screen and (min-width: 501px) and (max-width: 1328px) {
  body {
    background: linear-gradient(#dafcfc, #f9e7fe);
  }

  nav ul li {
    display: inline-block;
    margin: 20px 20px;
  }

  .grid-container {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .container-serv {
    flex-direction: column;
    align-items: center;
  }

  .servicios {
    margin: 4vh;
  }

  .formulario {
    width: 50vw;
    height: 70vh;
    flex-direction: column;
    align-items: center;
  }
}

/*Desktop

@media only screen and (min-width: 1024px) {
  body {
    background-color: #f3fde8;
  }
}*/
