/*Footer*/

footer {
  text-align: center;
  margin-top: 4rem;
  height: 25px;
}

h3 {
  font-size: x-large;
  text-decoration: underline;
  padding: 20px;
}

.formulario {
  background: $withe-color;
  width: 30%;
  height: 10%;
  margin: auto;
  padding: 5px 10px;
  border-radius: 10px;
  box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.8);
  font-size: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  width: 80%;
  height: auto;
  position: relative;
  padding: 3px;
  margin: 10px;
}

label {
  color: $green-color;
  display: flex;
  flex-direction: column;
  width: max-content;
}

.boton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}

.bton {
  text-align: center;
  color: $withe-color;
  background-color: #1aa37a;
  border: 1px solid $green-color;
  border-radius: 4px;
  font-size: 15px;
  cursor: pointer;
  width: 80px;
  height: 30px;
  padding-top: 3px;
  transition: 0.5s;

  .bton:hover {
    color: $withe-color;
    background-color: #24ce9b;
  }
}

input,
textarea {
  background: none;
  color: #665555d3;
  font-size: 15px;
  padding: 10px 10px 10px 10px;
  margin: 10px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid #e6d4eb;
  resize: none;
}

input:focus,
textarea:focus {
  outline: none;
}

.Redes-sociales {
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 20px;

  a {
    font-size: 20px;
  }
}

i,
.bi,
.bi-facebook {
  color: #9f8aa5;
}
