/*Mobile*/

@media only screen and (min-width: 200px) and (max-width: 500px) {
  body {
    background: linear-gradient(#cfebeb, #e4d4e9);
  }

  nav ul li {
    height: auto;
    margin: 15px 15px;
    font-size: medium;
    text-align: center;
  }

  .grid-container {
    grid-template-columns: 1fr 1fr;
  }

  .habitos {
    padding-top: 20px;
  }

  .grid-container img {
    box-shadow: 8px 8px 13px #a1c59e;
  }

  .container-section,
  .container-serv,
  .container-sobre-mi {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .servicios {
    margin: 7vh;
  }

  .formulario {
    width: 50vw;
    height: 80vh;
    margin: auto;
    padding: 10px;
    flex-direction: column;
    align-items: center;
  }

  .form {
    width: max-content;
    height: auto;
  }

  .boton {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }

  input,
  textarea {
    width: 80%;
  }
}

/*Tablet*/

@media only screen and (min-width: 501px) and (max-width: 1328px) {
  body {
    background-image: url(../img/fondo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
  }

  nav ul li {
    display: inline-block;
    margin: 20px 20px;
  }

  .grid-container {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .container-serv {
    flex-direction: column;
    align-items: center;
  }

  .servicios {
    margin: 4vh;
  }

  .formulario {
    width: 50vw;
    height: 80vh;
    margin: auto;
    padding: 10px;
    flex-direction: column;
    align-items: center;
  }

  .form {
    width: max-content;
    height: auto;
  }

  .boton {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }

  .container-sobre-mi {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
